<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

  <div class="title">
    <h2 class="title-big">MÜZİK DÜKKANIM</h2>
  </div>

  <div class="title" style="font-size: 6px;">
    <h1> <a href="/"> ana sayfa</a></h1>
    <h1> <a href="/product">ürünlerimiz</a></h1>
    <h1> <a href="/about-us">hakkımızda</a></h1>
  </div>