<%- include('partials/_header') %>
  <div class="title">
    <p>
      Müzik dükkanı sitemize hoşgeldiniz, sitemizde çeşitli müzik aletleri bulabilirsiniz.
  </div>
  </p>
  <script src="/app.js"></script>
</body>
</html>