<%- include('partials/_header') %>
<div class="title">ürünler</div>

<% for (let i=0; i< results.length; i++) { %>
<div class="title">
    <p>
        <%= results[i].urun_adi %>
    </p>
</div>
<% } %>

</body>

</html>